html {
  height: 100%;
  overflow-y: scroll;
  font-size: 62.5%;
  font-family: serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  font-family: 'Spectral', serif;
  background-color: #fff;
  color: #222;
  font-size: 17px;
  font-size: 1.7rem;
  line-height: 1.7;
  min-height: 100%; }
