html {
    height: 100%;
    overflow-y: scroll;
    font-size: 62.5%;
    font-family: serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: 'Arbutus Slab', serif;
    background-color: theme-color("primary");
    color: theme-color("secondary");
    font-size: 17px;
    font-size: 1.7rem;
    line-height: 1.7;
    min-height: 100%;
}

address {
    font-style: normal;
}

a {
    color: $link-color;
    text-decoration: $link-decoration;
    &:hover {
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
    }
}