.footer {
   position: fixed;
   bottom: 0;
   left: 0;
   right: 0;
   padding: 2rem;
   @include font-size(1.4);
   overflow: hidden;
   background-color: theme-color("primary");
   p {
       margin: 0;
   } 
}

.more-info {
    float: left;
    max-width: 500px;
    padding-right: 40px;
}