main(class="wrap main" role="main")
        div
                h1 Matteo Gildone
                p I'm Matteo Gildone, a Creative Developer from Italy who likes to mix code, animation, interactivity and generative design. I work across the full JavaScript stack. Formerly Intesys, Metro, Mail Online, The Tab.