footer(class="footer" role="contentinfo")
    address
        p For further information, please contact 
            a(href="mailto:matteo.gildone@gmail.com") Matteo Gildone.

    nav(class="navigation" role="navigation")
        ul
            li
                a(href="") Twitter
            li
                a(href="") Github