footer(class="footer" role="contentinfo")
    address
        p.more-info For further information, please contact 
            a(href="mailto:matteo.gildone@gmail.com") Matteo Gildone.

    nav(class="navigation navigation--footer" role="navigation")
        ul
            li
                a(href="https://twitter.com/domsmasher") Twitter
            li
                a(href="https://github.com/matteo-gildone") Github