include ../mixins/title.pug
include ../mixins/meta.pug
head
    meta(charset="utf-8")
    +title("Matteo Gildone | Fullstack Developer") 
    +meta("description", "Matteo Gildone | Fullstack Developer")
    +meta("viewport", "width=device-width, initial-scale=1.0, shrink-to-fit=no")
    link(href="https://fonts.googleapis.com/css?family=Arbutus+Slab|Open+Sans" rel="stylesheet")
    link(href="css/styles.css" rel="stylesheet" media="all")